<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  {% assign pagecounter = 0 %}
  {% for sitepage in site.pages %}
    {% if sitepage.link %}
    <li data-target="#myCarousel" data-slide-to="{{ pagecounter }}"{% if sitepage.url == page.url %} class="active"{% endif %}></li>
    {% assign pagecounter = pagecounter | plus: 1 %}
    {% endif %}
  {% endfor %}
  </ol>
  <div class="carousel-inner">
  {% for sitepage in site.pages %}
    {% if sitepage.link %}
    <div class="carousel-item{% if sitepage.url == page.url %} active{% endif %}">
      <img src="{{ sitepage.image | absolute_url }}" focusable="false" role="img">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>
          {% if sitepage.url != page.url %}
          <a href="{{ sitepage.url | absolute_url }}" class="text-white">
          {% endif %}
          {{ sitepage.link }}
          {% if sitepage.url != page.url %}
          </a>
          {% endif %}
          </h1>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
